<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Flexmi Editor"
            extensions="flexmi"
            icon="icons/flexmi.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.eclipse.epsilon.flexmi.dt.FlexmiEditor"
            id="org.eclipse.epsilon.flexmi.dt.FlexmiEditor">
      </editor>
   </extension>
	<extension
         id="problemmarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
</plugin>
